* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: linear-gradient(to right, #ffffff23 1px, transparent 1px), linear-gradient(to bottom, #ffffff23 1px, transparent 1px);
    background-size: 40px 40px;
}

@font-face {
    font-family: 'MR_ROBOT';
    src: url('/MR_ROBOT.woff') format('truetype');
}

@media screen and (min-width: 1000px) and (max-width:2000px) {
    body {
        background-image: linear-gradient(to right, #ffffff15 1px, transparent 1px), linear-gradient(to bottom, #ffffff19 1px, transparent 1px);
    }
}
